/* Home Page */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: OpenSans, sans-serif;
}

h1 {
    margin: 70px;
    text-align: center;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 400;
    font-size: 3em;
}

.recipe img {
    display: block;
    height: 500px;
    width: 350px;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 20px;
}

.container-recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1300px;
    margin: 0 auto;
}

.recipe {
    margin: 0 auto;
    max-width: 350px;
}

.recipe-title {
    display: block;
    text-align: center;
    margin-top: 50x;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: 200;
    border-bottom: 1px solid gray;
}

.recipe-title:hover {
    color: #137fcc;
}

.recipe-descr {
    margin-top: 10px;
    text-align: center;
    color: #393434;
}


/* Recipes */

.img-container, h2 {
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 50px;
}

.img-container::after {
    content: '';
    position: absolute;
    width: 850px;
    height: 5px;
    background-color: black;
    bottom: -30px;
}

.img-container img {
    display: block;
    height: 500px;
    width: 500px;
    margin: 0 40px;
    object-fit: cover;
}

.recipe-infos {
    margin-right: 20px;
}

.recipe-info {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.recipe-info p {
    font-style: italic;
}

.icons {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
}

.recipe-container { 
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin: 40px auto 20px auto;
    max-width: 800px;
}

.recipe-text {
    width: 500px;
    margin-left: 30px;
}

.ing-title {
    margin-bottom: 20px;
}

.ingredients li {
    line-height: 1.5;
    color: #393434;
    font-size: 15px;
}

.steps {
    margin-bottom: 10px;
}

.step-title {
    margin-bottom: 5px;
    font-weight: 800;
    color: rgb(93, 148, 10);
}

.button a {
    text-decoration: none;
}

.btn {
    display: block;
    margin: 0 auto 50px auto;
    padding: 12px 200px;
    color: #fff;
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  21%, #1FA2FF  100%);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
         
  .btn:hover {
    background-image: linear-gradient(to right, #137fcc 0%, #12D8FA  21%, #137fcc  100%);
    color: #fff;
    text-decoration: none;
  }
 